---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import Theme from "../components/Theme.astro";

---
<BaseLayout title="Abhishek Srivastav - Portfolio">
  <Sidebar />
  <Header />
  <Theme />
    <!-- Add more sections later: WhatIDo, Projects, Blog, etc. -->
  <!-- </div> -->
</BaseLayout>
